.contacto{
  min-height: 100svh;
  background-color: #13171C;
}
.contacto__content{
  width: 90%;
  margin: 0 auto;
  padding: 40px 35px;
  color: #EEEEEE;
  max-width: 1024px;
  margin: 0 auto;
  margin-top: -2rem;
}
.contacto__title{
  margin-top: 0;
  font-size: 40px;
  text-align: center;
  font-family: Poppins,sans-serif
}
.contacto__form{
  width: 100%;
  font-family: Poppins,sans-serif;
}
@media(min-width:1024px){
  .contacto{
      display: grid;
      align-items: center;
  }
  .contacto__content{
      display: grid;
      grid-template-columns: 50% 50%;
      padding: 0;
  }
  .contacto__title{
      margin-top: 20px;
      text-align: left;
      font-size: 50px;
  }
}


.form__label{
  display: block;
  margin-bottom: 10px;
}
.form__input{
  width: 100%;
  border-radius: 16px;
  background-color: #393E4680;
  color: #EEEEEE80;
  border: none;
  padding: 16px 24px;
  margin-bottom: 30px;
}

.contacto__form--button{

  width: 90%;
  background-color: #14a748;
  padding: 14px 0;
  border-radius: 24px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.contacto__form--button:hover{
  background-color: white;
  color: #13171C;
  cursor:pointer;
}

.contacto__form--button:after{
  content: url("/media/Img/send\ \(1\).png");
  margin-left: 10px;
}


.form__input, .contacto__form--button{
  font-family: 'Poppins';
}
.contacto__form textarea{
  height: 150px;
}
@media(min-width:1024px){
  .contacto__form{
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 24px;
      grid-template-rows: 35% 65%;
  }
  .form__textarea{
      grid-column: 1/span 2;
  }
  .contacto__form--button{
      width: 40%;
  }
}